 /* this is for IE6 */ /* This is a comment, for telling what the css is for. */


body { /* Element Type Selector */
  font-family: Arial, sans-serif; /* this line is a declaration */
  /* Property */ /* Values */
}

/* Class Type Selector, matches HTML element with class="navigation" */
.navigation {
  width: 1000px;
  margin: 0 auto;
}

/* ID Selector, matches HTML element with id="navigation"  */
#navigation { /* Slow */
  width: 1000px;
  margin: 0 auto;
}

/* Universal Selector, the asterisk character is the universal selector */
.navigation ul * { /* Slow */
  width: 100px;
  float: left;
}

/* Attribute Selector, match element with style="[anything]" */
p[style] {
  color: #1e1e1e;
}

/* Attribute Selector, matches input elements with type="text" */
input[type="text"] {
  border: solid 1px #ccc;
}

/* Pseudo-Class, the word "hover" along with the preceding colon is the pseudo-class */
/* Match elements that actually exist */
a:hover { /* More example, :visited, :focus, and :first-child */
  text-decoration: none;
}

/* Pseudo-Element, CSS2 "first-letter" including the preceding colon is the pseudo-element */
/* Target elements that can change depending on the actual html. */
p:first-letter {
  display: block;
  float: left;
  margin: 0 5px 5px 0;
}

/* Pseudo-Element, CSS3 pseudo-elements have double colons */
::selection {
  background: green;
}

/* Combinator, In all 4 examples */
/* whatever appears between "div" and "p" is a combinator */
/* in the first example, the combinator is a space character */
div p { /* descendant selectors (with a space character) */
  color: #222;
}

div>p { /* child selectors (with the “>” character) */
  color: #333;
}

div+p { /* adjacent sibling selectors (with the “+” character) */
  color: #444;
}

div~p { /* general sibling selectors (with the “~” character). */
  color: #555;
}

/* At-Rule, an instruction given in a CSS document using the @ character */
@import url(secondary.css);

@media print {
  #container {
    width: 500px;
  }
}